/**********
* LIGHT MODE STYLES
**********/
* {
  box-sizing: border-box;
}

body {
  &.lightMode {
    --theme-bg: #ffffff;
    --theme-text: #1a1a1a;    
  }

  &.darkMode {
    --theme-bg: #2f3133;
    --theme-text: #eeeeee;
  }

  background: var(--theme-bg);
  color: var(--theme-text);
}