$font-size__base: 10px;
$font-family: 'Spartan', sans-serif;
$transition: all 0.3s ease-in-out;

// 컬러
:root {
    --color-primary: #2ECC71;
    --color-secondary: #FBC02D;
    --color-error: #FF2A31;
    --color-sub: #9999FF;
    --color-text: #212121;
    --color-basic: #ffffff;
    --color-light-gray: #eeeeee;
    --color-gray: #444444;
    --color-black: #1a1a1a;
}


body {
    &.lightMode {
        --color-primary: #2ECC71;
        --color-secondary: #FBC02D;
        --color-error: #FF2A31;
        --color-sub: #9999FF;
        --color-text: #212121;
        --color-basic: #ffffff;
        --color-light-gray: #eeeeee;
        --color-gray: #444444;
        --color-black: #1a1a1a;
    }

    &.darkMode {
        --color-primary: #30e47b;
        --color-secondary: #facf61;
        --color-error: #FF2A31;
        --color-sub: #c4c4fa;
        --color-text: #d7d6d6;
        --color-basic: #2f3133;
        --color-light-gray: #525151;
        --color-gray: #f1f1f1;
        --color-black: #ffffff;
    }
}